
<!--[foreach from=$events item=event]-->
    <entry>
        <title><!--[$event.title|pnvarprepfordisplay]--></title>
        <content><!--[$event.text|pnvarprephtmldisplay]--></content>
        <link rel="alternate" type="text/html" href="<!--[pnmodurl modname="TimeIt" type="user" func="display" ot="event" fqurl=true id=$event.id dheid=$event.dhe_id]-->>"/>
        <author><name><!--[pnusergetvar name="uname" uid=$event.cr_uid]--></name></author>
        <id><!--[pnmodurl modname="TimeIt" type="user" func="display" ot="event" fqurl=true id=$event.id dheid=$event.dhe_id]--></id>
        <updated><!--[$event.lu_date|updated]--></updated>
        <published><!--[$event.cr_date|published]--></published>
<!--[ foreach from=$event.__CATEGORIES__ item=cat ]-->
            <category term="<!--[$cat.name]-->"/>
<!--[ /foreach ]-->
    </entry>
<!--[/foreach]-->
