<!--[foreach from=$events item=event]-->
    <item>
        <title><!--[$event.title|pnvarprepfordisplay]--></title>
        <description><!--[$event.text|pnvarprephtmldisplay]--></description>
        <link><!--[pnmodurl modname="TimeIt" type="user" func="event" fqurl=true id=$event.id]--></link>
        <dc:creator><!--[pnusergetvar name="uname" uid=$event.cr_uid]--></dc:creator>
        <guid><!--[pnmodurl modname="TimeIt" type="user" func="event" fqurl=true id=$event.id]--></guid>
        <pubDate><!--[$event.cr_date|published]--></pubDate>
    </item>
<!--[/foreach]-->
