fieldset {
	margin: 1.5em 1em 1.5em 1em;
	background: #E8EBDF;
	width: 90%;
line-height: 1.4;

}

legend {
	background: #E8EBDF;
	border: 1px solid #4b408c;
	border-right-width: 2px;
	border-bottom-width: 2px;
	margin-bottom: 4px;
	font-weight: bold;
}


div.ti-adminformrow>label {
	width: 10em;
}

div.ti-adminformrow2>label {
	width: 5em;
}

div.ti-adminformrow textarea
{
	width: 50em;
}

.unterstrich 
{
	text-decoration: underline;
}


.bnav 			{ border: 1px solid #000000; }
td.nav  		{ border-right: 1px outset #FFFFFF; background-color:#FFFFFF; }
td.nav:hover 	{ border-right: 1px outset #FFFFFF; background-color:#CCFFCC; }
td.rnav 		{ background-color:#FFFFFF; }
td.rnav:hover 	{ background-color:#CCFFCC; }
td.snav 		{ border-right: 1px outset #FFFFFF; background-color:#CCFFCC; font-weight : bold; }
td.rsnav 		{ background-color:#CCFFCC; font-weight : bold; }
a.nav:link  	{ padding-right: 3px; padding-left: 3px; color: #000000; text-decoration: none; }
a.nav:active 	{ padding-right: 3px; padding-left: 3px; color: #000000; text-decoration: none; }
a.nav:hover 	{ padding-right: 3px; padding-left: 3px; color: #000000; text-decoration: none; }
a.nav:visited 	{ padding-right: 3px; padding-left: 3px; color: #000000; text-decoration: none; }
SELECT.nav  	{ color: #000000; background-color:#CCFFCC; }
OPTION.nav  	{ color: #000000; background-color:#CCFFCC; }
INPUT.nav 		{ color: #000000; background-color:#CCFFCC; }

.ti-daynum {
	background-color:#DFE6EF;
	padding: 1px 2px;
}

.ti-weekday {
	background-color:#d0d6de;
}

.ti-eventlist {
	padding:5px;
}

.ti-day {
	background-color:#f1fdfb;
}

.ti-monthTable .ti-day {
	height:75px;
}

.ti-weekTable .ti-day {
	border:1px solid silver;
	margin-bottom:20px;	
}

.ti-today {
	border: 2px dashed #FF3300;
}

.ti-monthTable .ti-dayMonthOff,
 .ti-weekTable .ti-dayMonthOff{
	background-color:#d4d2d2;
}

.ti-dayMonthOn {
	
}

table.ti-monthTable{
	border:0;
	border-bottom:1px solid silver;
	border-left:1px solid silver;
}

div.ti-weekTable {
	border:0;
}

.ti-dayTable {
	border:1px solid silver;
}

table.ti-monthTable td{
	padding: 0;
	border-top:1px solid silver;
	border-right:1px solid silver;
}

#timeIt_new_box_description textarea {
    width: 95%;
}

div.ContactAddressbook_search_choices {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.ContactAddressbook_search_choices ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.ContactAddressbook_search_choices ul li.selected, div.LocationAddressbook_search_choices ul li.selected { background-color: #ffb;}
div.ContactAddressbook_search_choices ul li, div.LocationAddressbook_search_choices ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

.TICalendarnav2Block {
    border:1px solid black;
    margin-left:5px;
    margin-right:5px;
}

.TICalendarnav2Block td {
    width: 14%;
}

.TICalendarnav2Block thead td {
    border-bottom:1px solid black;
}

/**
 * Styles for the translation form
 */

fieldset.timeit_translate_lang legend {
    cursor:pointer;
}
